@font-face {
    font-family: 'Poppins-Bold';
    src: local('Poppins-Bold'), url("../../fonts/Poppins-Bold.ttf") format('woff');
  }

  @font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url("../../fonts/Poppins-Regular.ttf") format('woff');
  }