.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box-content {
    width: 80%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #646382;
    overflow: hidden;
}

.header {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &__profile {
        width: 100%;
        background-color: #3D3C57;
        padding: 15px;
    }
}