.friend-list {
    display: flex;
    padding: 0 15px;
    overflow: auto;
    margin: 15px 0;
    &__element {
        margin: 0 15px 0 0;
        .avatar {
            span {
                background-color: #fff;
            }
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
}